@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Faster+One&display=swap');

/* ----------------------- Reset ----------------------- */

*, *::after, *::before,*:visited{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style: none;
}

/* ----------------------- Root ----------------------- */

:root{
    --Sky_blue: #DFFDFF;
    --black: #0000;
    --White: #FFFF;
    --Dark_blue: #416788;
    --BlueBlue: #085E8F;
    --lightblack:#30343F;
    --orange: orange;
    --yellow: yellow;
    --blue: rgb(67, 67, 227);

    --FontNoto:'Noto Sans', sans-serif;
    --FontMont:'Montserrat', sans-serif; 
    --FontFasterOne: 'Faster One', cursive;
}

/* ------------------------ Scene Three.js ------------------------ */ 

#canvas{
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

/* ------------------------ header page style ------------------------ */ 

header{
    width: 100%;
    height: 100vh;
    padding: 2rem;
}

nav{
    padding: 1rem;
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-flow: row nowrap;
    gap: 3rem;
    font-family: var(--FontMont);
    font-weight: 600;
    font-size: 1.4em;
}

nav ul li{
    color: var(--White);
    padding: 1rem;
    transition: 0.2s ease-in;
}

nav ul li:hover{
    color: var(--Dark_blue);
}


/* ------------------------ About page style ------------------------ */ 

.About{
    background-color: rgba(222, 28, 28, 0);
    margin: 4rem;
    padding: 4rem 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    position: relative;
}

.About h2{
    font-size: 3em;
    font-family: var(--FontFasterOne);
    letter-spacing: 0.8rem;
    margin-bottom: 2rem;
    font-weight: 800;
    position: relative;
    color: var(--White);
}

.About h2::before{
    content: "";
    background-color: var(--White);
    width: 170%;
    height: 3px;
    position: absolute;
    top: 50%;
    right: 120%;
}

.About h2::after{
    content: "";
    background-color: var(--White);
    width: 170%;
    height: 3px;
    position: absolute;
    top: 50%;
    left: 110%;
}

.About p{
    color: var(--White);
    text-align: start;
    font-size: 2em;
    font-family: var(--FontNoto);
    font-weight: 300;
}

.About h3{
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-start;
    font-family: var(--FontNoto);
    font-size: 2.2em;
    font-weight: 600;
    margin: 6rem 0 4rem 0;
    color: var(--White);
}

.logo{
    margin-right: 1rem;
    font-size: 1.5em;
}

/* ------------------------ Education part ------------------------ */ 

.About article{
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    padding: 0.5rem 2rem;
}

.About article:nth-child(4){
    border-left: 8px solid var(--Sky_blue);
    align-self: flex-start;
    margin-bottom: 8rem;
}

.About article:nth-child(5){
    border-right: 8px solid var(--Sky_blue);
    align-items: flex-end;
    align-self: flex-end;
}


.About article h4{
    font-size: 1.7em;
    font-weight: 600;
    font-family: var(--FontMont);
    color: var(--White);
    margin-bottom: 0.3rem;
}

.About article p{
    font-family: var(--FontMont);
    font-size: 1.5em;
}

/* ------------------------ skills part ------------------------ */ 

.logo_tech{
    font-size: 4em;
    margin-right: 2rem;
    animation: Rotate 5s infinite ease-in-out;
}

.About article:nth-child(7){
    align-self: flex-end;
}

.About article:nth-child(8){
    align-self: flex-start;
}

.About article:nth-child(9){
    align-self: flex-end;
}

.art_tech{
    display: flex;
    flex-flow: row !important;
    align-items: center;
    color: var(--White);
    font-family: var(--FontNoto);
    font-weight: 300;
    font-size: 1.8em;
    margin-bottom: 4rem;
}

.yellow{
    color: var(--yellow);
    transform: rotate(0deg);
}

.orange{
    color: var(--orange);
    transform: rotate(0deg);
}

.blue{
    color: var(--blue);
    transform: rotate(0deg);
}

.art_tech h5{
    font-weight: 300;
}

.art_tech h5 span{
    font-weight: 600;
}

@keyframes Rotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.close{
    color: var(--White);
    font-size: 4em;
    position: fixed;
    right: 5%;
    top: 5%;
    cursor: pointer;
    transition: transform 1s ease;
}

.close:hover{
    transform: scale(1.2);
    color: var(--orange);
}

.hidden{
    display: none;
}

/* ------------------------------ Slider part ------------------------------ */

.Works{
    background-color: rgba(222, 28, 28, 0);
    margin: 4rem;
    padding: 4rem 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    position: relative;
}

.Works h2{
    font-size: 3em;
    font-family: var(--FontFasterOne);
    letter-spacing: 0.8rem;
    margin-bottom: 4rem;
    font-weight: 800;
    position: relative;
    color: var(--White);
}

.Works h2::before{
    content: "";
    background-color: var(--White);
    width: 110%;
    height: 3px;
    position: absolute;
    top: 50%;
    right: 120%;
}

.Works h2::after{
    content: "";
    background-color: var(--White);
    width: 110%;
    height: 3px;
    position: absolute;
    top: 50%;
    left: 110%;
}

.slider{
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    /* background-color: var(--orange); */
}

.slider_container{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 3px solid black; */
    gap: 5rem;
}

.pannel{
    display: flex;
    width: 700px;
    height: 400px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    /* border: solid 5px gray; */
}

/* ------------------------------ Projects ------------------------------ */

.Phaser{
    background-image: url(/assets/phaserZ.jpg);
    background-size: cover;
}

.run_game{
    background-image: url(/assets/RunnergameZ.jpg);
    background-size: cover;
}

.bootstrap{
    background-image: url(/assets/bootsarp\ project.jpg);
    background-size: cover; 
}

.Phaser,.run_game{
    margin-right: 0rem;
}

.Phaser,.run_game,.bootstrap{
    /* border: solid 5px red; */
    width: 400px;
    height: 300px;
    border-radius: 50%;
} 

/* Js classes */ 

.active{
    opacity: 1;
    /* transform: scale(1.3); */
    /* box-shadow: var(--White) 1px 1px 2px; */
}

/* btn du slider */

.btn_left{
    color: var(--White);
    transform: rotate(-45deg);
    font-size: 4em;
    cursor: pointer;
    position: absolute;
    top: 40%;
    left: -15%;
}

.btn_right{
    color: var(--White);
    transform: rotate(45deg);
    font-size: 4em;
    cursor: pointer;
    position: absolute;
    top: 40%;
    right: -15%;
}

.btn_left:hover,.btn_right:hover{
    color: var(--Sky_blue);
}


/* ------------------------ Contact page style ------------------------ */ 

.contact{
    background-color: rgba(222, 28, 28, 0);
    margin: 4rem;
    padding: 4rem 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
}

.contact h2{
    font-size: 3em;
    font-family: var(--FontFasterOne);
    letter-spacing: 0.8rem;
    margin-bottom: 4rem;
    font-weight: 800;
    position: relative;
    color: var(--White);
}

.contact h2::before{
    content: "";
    background-color: var(--White);
    width: 110%;
    height: 3px;
    position: absolute;
    top: 50%;
    right: 120%;
}

.contact h2::after{
    content: "";
    background-color: var(--White);
    width: 110%;
    height: 3px;
    position: absolute;
    top: 50%;
    left: 110%;
}

.social_links{
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;
    gap: 3rem;
}

.social_links span{
    background-color: var(--White);
    padding: 1rem;
    border-radius: 50%;
    opacity: 0.7;
    box-shadow: 1px 1px 0px var(--Sky_blue);
    transition: all 0.4s ease-in;
    cursor: pointer;
}

.social-logo{
    font-size: 3em;
}

.social_links span:hover{
    opacity: 0.9;
    box-shadow: 1px 1px 5px var(--Sky_blue);
    transform: scale(1.1);
}

/* form{
    width: 100%;
} */

fieldset{
    padding: 2rem;
    border: none;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

fieldset label:nth-child(1){
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

input[name="name"]{
    padding: 1rem 1rem;
    width: 40%;
    background: transparent;
    color: var(--White);
    border: var(--White) solid 3px;
    outline: none;
    font-family: var(--FontMont);
    font-weight: 300;
    font-size: 1em;
}

input[name="email"]{
    padding: 1rem 1rem;
    width: 58%;
    background: transparent;
    color: var(--White);
    border: var(--White) solid 3px;
    outline: none;
    font-family: var(--FontMont);
    font-weight: 300;
    font-size: 1em;
}

input::placeholder{
    color: var(--White);
    font-size: 1em;
}

textarea::placeholder{
    color: var(--White);
    font-size: 1em;
}

fieldset textarea{
    padding: 1rem 1rem;
    width: 100%;
    background: transparent;
    color: var(--White);
    border: var(--White) solid 3px;
    outline: none;
    font-family: var(--FontMont);
    font-weight: 300;
    font-size: 1em;
    margin-bottom: 1rem;
}

input[type="submit"]{
    padding: 1rem 1.5rem;
    background: transparent;
    color: var(--White);
    border: var(--White) solid 3px;
    outline: none;
    font-family: var(--FontMont);
    font-weight: 300;
    font-size: 1.2em;
    transition: 0.2s ease-in;
    font-weight: 600;
}

input[type="submit"]:hover{
    border: var(--Dark_blue) solid 3px;
    color: var(--Dark_blue);
    cursor: pointer;
}

.contact_footer{
    margin-top: 2rem;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.contact_footer article{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 2rem;
}

.contact_footer article p{
    color: var(--White);
    font-family: var(--FontNoto);
    font-size: 1.5em;
}

.contact_footer article i{
    background-color: var(--White);
    padding: 1rem;
    font-size: 2em;
    border-radius: 50%;
}
